<mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Enter task title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field hintLabel="Max 120 characters">
      <mat-label>Enter task description</mat-label>
      <textarea matInput maxlength="120" (input)="onInput($event)" formControlName="description"></textarea>
      <mat-hint align="end">{{value().length}}/120</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (status of statusList; track status) {
        <mat-option [value]="status.value">{{status.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        @for (priority of priorityList; track priority) {
        <mat-option [value]="priority.value">{{priority.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" class="submitbtn" [disabled]="taskForm.invalid"
        tabindex="1">Submit</button>
      <button mat-raised-button type="button" class="cancelbtn" (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
  </form>
</mat-dialog-content>